dynamic-mat-table {
    height: 70vh;
  }

  /* Conditional Class & Overwrite Style */
  :host ::ng-deep .conditional-class .mat-mdc-table .row-selection{
    background-color:rgb(7, 140, 163) !important; /* for over write */
    border-radius: 5px;
    .mat-mdc-cell {
      color: white !important;
    }
  }

  /* Style Element Inside Table */
  :host ::ng-deep dynamic-mat-table .mat-mdc-table mat-row{
    cursor: pointer;
  }

  .section button {
    margin: 5px;
  }
