<!-- <span matBadge="4" matBadgeOverlap="false">Test</span> -->

<ng-container *ngIf="column.option === 1">
    <button mat-button color="primary" (click)="moveUp_onClick()">
        <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button mat-button color="primary" (click)="moveDown_onClick()">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
</ng-container>

<ng-container *ngIf="column.option === 2">
    <button mat-button color="primary" (click)="expandRow_onClick()">
        <mat-icon>{{row?.option?.expand === true ? 'unfold_less' : 'unfold_more' }}</mat-icon>
    </button>
    <button mat-button color="primary" (click)="raiseEvent_onClick()">{{row.color}}</button>
</ng-container>