<mat-card style="margin: 8px; padding: 8px">
  <h2>Demo Dynamic Mat Table</h2>
  <!-- minimal use -->
  <!-- <dynamic-mat-table tableName="demo_table" [columns]="fields" [dataSource]="dataSource"></dynamic-mat-table> -->

  <!-- [alternativeRowStyle]="altRowStyle" -->
  <dynamic-mat-table
    [showReload] = "showReloadData"
    [dir]="direction"
    [expandComponent]="expandComponent"
    [rowHeight]="rowHeight"
    [columns]="fields"
    [pending]="pending"
    [setting]="setting"
    tableName="demo_table"
    [pagingMode]="paginationMode"
    [sticky]="stickyHeader"
    [dataSource]="dataSource"
    [pagination]="pagination"
    [showNoData]="showNoData"
    [printConfig]="printConfig"
    [rowSelectionMode]="rowSelectionMode"
    [rowSelectionModel]="selectionModel"
    [showProgress]="showProgress"
    [rowActionMenu]="rowActionMenu"    
    (onTableEvent)="tableEvent_onClick($event)"
    (onRowEvent)="rowEvent_onClick($event)"
    [class.conditional-class]="conditinalClass"
    (settingChange)="table_onChangeSetting($event)"
    (rowSelectionChange)="table_onRowSelectionChange($event)">
  </dynamic-mat-table>
</mat-card> 

<section class="section">
  <button mat-raised-button color="primary" (click)="fetchData_onClick()">
    Fetch Car Data
  </button>
  <button mat-raised-button color="primary" (click)="pending = !pending">
    Pending {{ pending }}
  </button>
  <button mat-raised-button color="primary" (click)="stickyHeader = !stickyHeader">
    Header Sticky: {{ stickyHeader }}
  </button>
  <button mat-raised-button color="primary" (click)="columnSticky_onClick(1, 'strat')">
    {{ fields[1]?.name + ":" + fields[1]?.sticky }}
  </button>
  <button mat-raised-button color="primary" (click)="columnSticky_onClick(3, 'end')">
    {{ fields[3]?.name + ":" + fields[3]?.sticky }}
  </button>
  <button mat-raised-button color="primary" (click)="tableSelection_onClick()">
    Table Selection ({{ tableSelection }})
  </button>
  <button mat-raised-button color="primary" (click)="selectToggle_onClick()">
    Select 10 Row
  </button>
  <button mat-raised-button color="primary" (click)="conditinalClass = !conditinalClass">
    Conditional Class ({{ conditinalClass }})
  </button>
  <button mat-raised-button color="primary" (click)="table.clear()">
    Clear Data
  </button>
  <button mat-raised-button color="primary" (click)="addNewColumn_onClick()">
    Add New Column
  </button>
  <button mat-raised-button color="primary" (click)="addNewLongColumn_onClick()">
    Add Long Content Column
  </button>
  <button mat-raised-button color="primary" (click)="paginationMode_onClick()">
    Pagination Mode ({{ paginationMode }})
  </button>
  <button mat-raised-button color="primary" (click)="direction_onClick()">
    Direction ({{ direction }})
  </button>
  <button mat-raised-button color="primary" (click)="expandToggle_onClick()">
    Expand Toggle Row {{ expandIndex }}
  </button>  
  <mat-slider min="40" max="200" step="5" [(ngModel)]="rowHeight"></mat-slider>
</section>

<section class="section">
  <mat-checkbox [(ngModel)]="showNoData">Show NoData</mat-checkbox>
  <mat-checkbox [(ngModel)]="showProgress">Show Progress</mat-checkbox>
  <mat-checkbox [(ngModel)]="visibleMenu" (change)="visible_onChange($event)">Show Table Menu</mat-checkbox>
</section>

<div *ngFor="let item of eventLog">
  {{ eventLog | json }}
</div>